<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galeri</title>
  <link rel="stylesheet" href="./style_galery_layout.css">
</head>
<body>

  <header>
    <h1>Galeri Foto</h1>
  </header>

  
  <main class="gallery">
    

   
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 1">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 2">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 3">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 4">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 5">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 6">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 7">
        </div>
        <div class="gallery-item">
        <img src="../../assets/img/umsu.webp" alt="Gambar 8">
        </div>
    
  </main>

  <footer>
    <p>&copy; 2025 Galeri Foto</p>
  </footer>

</body>
</html>
