h2 {
  color: blueviolet;
}
.card {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
}
.header {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

#box {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}
