p {
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-style: italic;
  text-align: right;
  text-transform: uppercase;
}
h1 {
  background-color: blueviolet;
  color: #fff;
}
h2 {
  background-color: cadetblue;
  color: rgb(0, 0, 0);
}

.box {
  width: 500px;
  height: 500px;
  background-color: #ff6347;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
.box:hover {
  background-color: red;
}
.content {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 20px solid #000;
  border-radius: 20px;
}

#box2 {
  width: 100px;
  height: 100px;
  background-color: #000;
}
